<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Factuur</title>
    <style>
      body { font-family: Arial, sans-serif; }
      .header { text-align: right; margin-right: 50px; margin-top: 50px; }
      .details { margin: 20px; }
      .items { width: 100%; border-collapse: collapse; }
      .items th, .items td { border: 1px solid #ddd; padding: 8px; }
      .total { text-align: right; margin: 20px; }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://poespas.nl/cdn/shop/files/logo_poespas_2032x.webp?v=1733737422" alt="Logo Poespas" width="150">
        <h1>Factuur</h1>
    </div>
    <div class="details">
        <p>Ordernummer: {{ order.name }}</p>
        <p>Datum: {{ order.created_at }}</p>
        {% if order.customer %}
        <p>Klant: {{ order.customer.first_name }} {{ order.customer.last_name }}</p>
        <p>Email: {{ order.customer.email }}</p>
        {% endif %}
    </div>
    <div class="items">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.line_items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="total">
        <p>Subtotaal (excl. btw): €{{ "%.2f"|format((order.total_price | float) / 1.21) }}</p>
        <p>BTW (21%): €{{ "%.2f"|format((order.total_price | float) - (order.total_price | float) / 1.21) }}</p>
        <p><strong>Totaal (incl. btw): €{{ order.total_price }}</strong></p>
    </div>
<br>
    <p style="text-align: center; font-size: 12px;">Bedankt voor je bestelling!<br>Oldenzaalsestraat 125, 7514 DP Enschede, Nederland <br>klantenservice@poespas.nl <br>poespas.nl</p>
    
</body>
</html>
